<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DividerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05261F841C1EB30100B68042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05261F9D1C1EB30100B68042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05261FA81C1EB30100B68042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
